<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width>, initial-scale=1.0">
    <title>Add New Items</title>
</head>
<body>
    <h2>Add Items</h2>

    <form action= "{% url 'add-items' %}" method="POST">
          {% csrf_token %}
        <label for ="title">Title</label>
        <br>
        <input type ="text" id="title" name="title">
        <br>
         <br>
        <label for ="description">Description</label>
        <br>
        <textarea name ="description" id="description" cols="4" rows="1"></textarea>
        <br>
        <br>
        <button type>Submit</button>
</body>
</html>