<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{html_title}}</h1>
    

{% if data %}

<ul>
   {% for items in data %}
    <li>id :{{items.id}}</li>
    <li>title :{{items.title}}</li>
    <li>describtion :{{items.describtion}}</li>
    <li>creat_at :{{items.creat_at}}</li>
    <br>
   {% endfor %}
</ul>

{% else %}
 <h2> No data found </h2>
{% endif %}


</body>
</html>